<div *ngIf="country">
    <h1>{{ country.name.common }}</h1>
    <p><strong>Capital:</strong> {{ country.capital ? country.capital[0] : 'No capital' }}</p>
    <p><strong>Región:</strong> {{ country.region }}</p>
    <p><strong>Población:</strong> {{ country.population | number }}</p>
    <p><strong>Subregión:</strong> {{ country.subregion }}</p>
    <p><strong>Área:</strong> {{ country.area | number }} km²</p>
    <img [src]="country.flags.png" alt="Bandera de {{ country.name.common }}">
  </div>
  
