
<div class="search-filter-container">
  <input 
    type="text" 
    placeholder="Buscar país..." 
    [(ngModel)]="searchTerm" 
    (input)="searchCountry()"
  />

  <select (change)="filterByRegion($event)">
    <option value="">Todos</option>
    <option value="Africa">África</option>
    <option value="Americas">América</option>
    <option value="Asia">Asia</option>
    <option value="Europe">Europa</option>
    <option value="Oceania">Oceanía</option>
  </select>
</div>

<div class="countries-list">
  <ng-container *ngFor="let country of filteredCountries; let i = index">
    <a 
      [routerLink]="['/country', country.name.common]" 
      class="country-link"
      (mouseover)="onHover(country)" 
      (mouseout)="onHoverOut()"
    >
      {{ country.name.common }}
    </a>
    <span *ngIf="i < filteredCountries.length - 1" class="separator">|</span>
  </ng-container>
</div>

