
<div class="search-filter-container">
  <input 
    type="text" 
    placeholder="Buscar país..." 
    [(ngModel)]="searchTerm" 
    (input)="searchCountry()"
  />

  <select (change)="filterByRegion($event)">
    <option value="">Todos</option>
    <option value="Africa">África</option>
    <option value="Americas">América</option>
    <option value="Asia">Asia</option>
    <option value="Europe">Europa</option>
    <option value="Oceania">Oceanía</option>
  </select>
</div>

<div class="countries-list">
  <ng-container *ngFor="let country of filteredCountries; let i = index">
    <a 
      [routerLink]="['/country', country.name.common]" 
      class="country-link"
      (mouseover)="onHover(country)" 
      (mouseout)="onHoverOut()"
    >
      {{ country.name.common }}
    </a>
    <span *ngIf="i < filteredCountries.length - 1" class="separator">|</span>
  </ng-container>
</div>

<div class="mapa">
  <ul id="continentes">
    <li id="norteamerica"><a>
    <span>
    <strong>NorteAmerica</strong>
    Poblacion: 528,720,588
    </span>
    </a></li>
    <li id="suramerica"><a>
    <span>
    <strong>SurAmerica</strong>
    Poblacion: 385,742,554
    </span>
    </a></li>
    <li id="asia"><a>
    <span>
    <strong>Asia</strong>
    Poblacion: 3,879,000,000
    </span>
    </a></li>
    <li id="australia"><a>
    <span>
    <strong>Australia</strong>
    Poblacion: 21,807,000
    </span>
    </a></li>
    <li id="africa"><a>
    <span>
    <strong>Africa</strong>
    Poblacion: 922,011,000
    </span>
    </a></li>
    <li id="europa"><a>
    <span>
    <strong>Europa</strong>
    Poblacion: 731,000,000
    </span>
    </a></li>
    </ul>
</div>



